.loading-body{
    background: rgba(255,255,255,1);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    /*filter: blur(5px);*/
    /*transform: scale(1.2);*/
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
}

.loading-light {
    width: 150px;
    height: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    -moz-box-shadow: 0 4px 0 #E40077 inset;
    -webkit-box-shadow: 0 4px 0 #E40077 inset;
    box-shadow: 0 5px 0 #E40077 inset;
    animation: rotate-360 2s linear infinite;
}

.loading-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 10px px rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate-360 {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
